<div class="title">
  <button mat-raised-button color="accent"> {{title}} </button>
</div>
<div class="outer-wrapper"><mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Item">
</mat-form-field>

<div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id" style='display:none'>
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="item_name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price/item </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element"> <img src="{{element.image_src}}" height="30" width="30"></td>
  </ng-container>

  <ng-container matColumnDef="actionColumn">
     <th mat-header-cell *matHeaderCellDef> Ation Items </th>
    <td mat-cell *matCellDef="let row">
       <mat-icon class="edit" (click)="editItem(row, $event)">edit</mat-icon>
       <mat-icon class="delete" (click)="deleteItem(row, $event)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="pagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="addUser">
  <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button> 
</div>

</div>