<!--<img src="./../assets/img/header.png" height="100" width="630">
<img src="./../assets/img/header.png" height="100" width="630">
<img src="./../assets/img/header.png" height="100" width="610">-->
<div class="header">
  <span>Canteen Management system</span>
</div>
<!--<mat-toolbar color="primary">
  <span>Canteen Management system</span>-->
  <!--<span class="example-spacer"></span>-->
    <!--<span *ngIf="this.auth.isAuthenticated()"(click)="logout()">Logout</span>-->
    <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
</mat-toolbar>-->
<router-outlet></router-outlet>

<mat-toolbar color="primary" class="footer">
  <span></span>
</mat-toolbar>
